footer {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -54px;
    margin-bottom: 0px;
    .logo-ig {
        max-width: 40%;
        max-height: 40%;
        margin: 27px -89px 6px 54px;
    }
    
}
