#grid {
    display: grid;
     gap: 5px;
     width: 100%;
     grid-template-columns: repeat(3, 1fr);
     
}

header {
    grid-column: 1/4;
    background-color: aquamarine;
    padding-top: 40px;
    font-family: Cambria;
    font-size: 15px;
    background-color: black;
    color: white;
}

header .header-superior {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.header-cta {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.header-cta:hover {
    text-decoration: none;
    color: white;
    scale: 2,2;
}


.header-img img {
    max-width: 70px;
    max-height: 70px;
}


header .header-inferior {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 40px 20px;

}


.menu-item {
    text-decoration: none;
    color: white;
}


.galeria img {
    width: 1fr;
}

.galeria {
    ;
}




